-
%h1{:align => 'center'} Assign Room and Timings for Faculty Courses
.faculty_drop_down
  =label_tag :faculty_id, "Faculties"
  =select_tag :faculty_id, options_from_collection_for_select(@faculties,"id","faculty_name",""), :include_blank => true
%br
%br
#course_ctr

.course_assignment_scroll_pref
  %table{:id => 'course_assignments', :align => 'center'}
    %tr
      %th Faculty Name
      %th Course
      %th Assignment
    - @assignments.each do |assignment|
      %tr
        %td= assignment["faculty_name"]
        %td= assignment["course_name"]
        %td= assignment["assign"]
