<div class="center jumbotron">
  <h1>Course Assignment System</h1>

  <h3>
    Home page for the admin.
  </h3>
  <br><br>
  <%= link_to "Add Faculty", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Assign Courses", faculty_courses_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Add Classroom", class_index_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "See Preferences", '#', class: "btn btn-lg btn-primary" %>
</div>

