/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#wrapper
{
 width:100%;
 height:100%;
}
#section
{
 
 float:left;
 width:500px;
 margin:auto;
 height:100vh;
 padding: 10px;
 font-size: 1.2em;

}
#class_building_name
{
 text-transform: uppercase;
}

#rightsection
{
   margin:auto;
   width:600px;
   float:right;
   height:100vh;
   padding: 10px;
   position:relative;
}

#classtable {

  border-collapse: collapse;
  width: 100%;
  position:relative;
}
#classtable th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
  padding: 4px;
  text-align: center;

}
#classtable td {
  padding: 4px;
   border: 2px solid white;
   text-align: left;
}

#preftable {
  width: 100%;
  position : relative;
 
}
#preftable th {
  font-weight: bold;
  background-color: wheat;
}
#preftable th, #preftable td {
  padding: 4px;
   border: 2px solid black;
   text-align: left;
}

#preftable th.hilite {
  background-color: yellow;
}

.scrollit {
    overflow-y: auto;
    overflow-x: hidden;
    height :550px;
    position : absolute;
}

.scrollPref {
    overflow-y: auto;
    overflow-x: auto;
    height :550px;
    position : absolute;
}

.course_assignment_scroll_pref {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin-left: 15%;
}

#course_assignments th {
  font-weight: bold;
  background-color: wheat;
}
#course_assignments th, #course_assignments td {
  padding: 4px;
   border: 2px solid black;
   text-align: left;
}

.faculty_drop_down {
  margin-top: 3%;
  margin-left: 35%;
  width: 30%;
  padding: 3px;
}

.alert.alert-success {
  background-color: #bfefbf;
  font-weight: bold;
  text-align: left;
  font-color: black;
}

.alert.alert-error {
  color: #e60000;
  font-weight: bold;
  background-color: #ffad99;
  text-align: left;
}

#note
{
     color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
     width:1000px;
     float:left;
     height:100px;
}

#facultynote
{
     color: #616E14;
     border: solid 1px #BFD62F;
     background-color: #DAE691;
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
     border-radius: 6px;
     padding: 14px 20px;
     font-size: 15px
}

.note-image
{
  height:120px;
}

.img-responsive
{
  float:right;
}

#capacityerrmsg
{
  color: red;
}

#navFacPref
{
  color: white;
}