
    .table-fac{
      background-color: #428BCA;
      margin: 20px;
    }
    .table td {
      text-align: center;   
    }
    .table th {
      background-color: #428BCA;
      text-align: center;   
    }
   